extends layout

block content
 h2(id="newtitle")= title

  if (toShow == null)
    h3 No instance to delete

 
  - let petid = toShow._id
  - let petname = toShow.name 
  - let petage = toShow.age 
  - let petgender = toShow.gender 

  div
    div.row
      div(class='costumeAttr mr-3') Pet ID is:
      div(class='attr specialstyles') #{petid}
    div.row
      div(class='costumeAttr mr-3') Pet Name is:
      div(class="attr") #{petname}
    div.row
      div(class='costumeAttr mr-3') Pet age is:
      div(class="attr") #{petage}
    div.row
      div(class='costumeAttr mr-3') Pet gender is:
      div(class="attr") #{petgender}
    